@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;700&display=swap');

html, body {
  margin: 0;
  padding: 0;
}  

:root {
  --primary-color: #3f28ee;
  --secondary-color: #ffffff;
  --accent-color: #F5F1ED;
  --font-color: #0A0908;
  --toggle-color: #FFB11A;
  --toggle-color2: #FFDB2D;
}

.DarkTheme {
  --primary-color: #FFB11A;
  --secondary-color: #121212;
  --accent-color: #202020;
  --font-color: #F5F1ED;
  --toggle-color: #3f28ee;
  --toggle-color2: #070038;
}

.App {
  text-align: center;
  font-family: 'Fira Sans';
  color: var(--font-color);
  background: var(--secondary-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  min-height: 100vh;
}

.NavBar {
  display: flex;
  justify-content: center;
}

.LinkContainer {
  display: flex;
  justify-content: space-evenly;
  width: 40vw;
  padding: 0px;
}

.LinkButtonContainer {
  list-style: none;
}

.LinkButton {
  background-color: var(--primary-color);
  border: solid 2px;
  border-radius: 7.5px;
  /* border-color: var(--accent-color); */
  color: var(--secondary-color); 
  width: 60px;
  height: 50px;
}

.LinkButton:hover {
  cursor: pointer;
}

img {
  height: 250px;
  width: auto;
}

.LogoComponent {
  display: flex;
  flex-direction: column;
  width: 70vw;
}


/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--toggle-color);
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: var(--toggle-color);
}

input:focus + .slider {
  box-shadow: 0 0 5px var(--accent-color);
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%; 
}

.ReactGrid {
  display: grid;
}

.logo-slider-container {
  /* box-shadow: 0px 0px 50px -22px var(--primary-color); */
  /* background: var(--accent-color); */
}

.logo-slider {
  --image-size: 60px;
  padding: 20px;
  overflow: hidden;
  max-width: 900px;
  width: 100%;
  margin: 0 auto;
  position: relative;
  display: flex;
}

.fade-background {
  content: "";
  width: 60px;
  height: 100%;
  position: absolute;
  z-index: 1;
  top: 0px;
}

.fade-background-left {
  background-image: linear-gradient(to right, var(--secondary-color) 0%, rgba(255, 255, 255, 0));
  left: 0px;  
}

.fade-background-right {
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0), var(--secondary-color) 100%);
  right: 0px;  
}

.logo-slider .logo-slider-segment {
  display: flex;
  position: relative;
  animation: marquee 15s linear infinite;
  justify-content: space-around;
}

.logo-slider .logo-slider-segment2 {
  display: flex;
  position: relative;
  animation: marquee 24s linear infinite;
  animation-direction: reverse;
  justify-content: space-around;
}

.logo-slider > div > img {
  display: block;
  height: var(--image-size);
  margin: 0 3vw;
  filter: grayscale(100%);
  opacity: 60%;
  z-index: 1;
}


.logo-slider > div > img:hover {
  filter: grayscale(20%);
  transition: all 0.3s ease-out;
}

.logo-slider:after {
  content: "";
  /* position: absolute; */
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: linear-gradient(to right, white, rgba(255, 255, 255, 0) 80px, rgba(255, 255, 255, 0) calc(100% - 80px), white);
  z-index: -99;
}

@media (max-width: 900px) {
  logo-slider {
    --image-size: 50px;
    --image-size: min(max(50px, 10vw), 100px);
  }
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.GridWindow {
  width: 100%;
}

.GridContainer {
  display: grid;
  grid-template-columns: 250px 1fr;
  grid-template-rows: 100vh;
  padding: 5px;
}

.GridItem {
  padding: 5px;
}

.GridNav {
  background-color: whitesmoke;
}

.GridContent {
  background-color: grey;
}